
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div>
        <h1 class="text-center">Your Contacts</h1>
        <div class="container">
            <div>
                <a routerLink="/add"><button type="button" mat-raised-button>Add User</button></a>
            </div>
            <table class="table border" >
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let contact of contacts">
                    <td>{{contact.id}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.phone}}</td>
                    <td>{{contact.address}}</td>
                    <td>
                      
                        <div class="d-inline">
                          <button class="btn btn-danger" (click)="deleteContact(contact.id)" type="button">Delete</button>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</body>
</html>

